@font-face {
	font-family: 'Forumla1-Black';
	src: url('./assets/fonts/Formula1-Black.ttf') format('truetype');
}

@font-face {
	font-family: 'Forumla1';
	src: url('./assets/fonts/Formula1-Bold.ttf') format('truetype');
	font-weight: bold;
}

@font-face {
	font-family: 'Forumla1';
	src: url('./assets/fonts/Formula1-Regular.ttf') format('truetype');
	font-weight: normal;
}

@font-face {
	font-family: 'Forumla1-Wide';
	src: url('./assets/fonts/Formula1-Wide.ttf') format('truetype');
}

#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
	font-family: 'Forumla1';
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}
